<mat-toolbar class="plateado altura">
  <h1>PROFILE SCALE</h1>
</mat-toolbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>
  <footer class="container-fluid text-center ">

    <p>To assess the impact of volcanic soil and vegetation on soil-water process interactions
      in a landscape context in the High Andes
    </p>
    <h2>Anthropogenic impact
    </h2>

    <div class="row">
      <div class="col-sm-12">
        <img src="assets/img/water.PNG" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>



      <br><br>
    </div>

    <h2>Experimental Set-up
    </h2>
    <p>Cushion plants reveals impact (degradation -: LUC)</p>
    <p>Livestock grazing, agriculture and anthropogenic burning</p>
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/img/degraded.PNG" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>
      <div class="col-sm-6">
        <img src="assets/img/conserved.PNG" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>


      <br><br>
    </div>

    <p>To isolate the effect of vegetation (controlling
      lithology, climate)</p>
    <p>Summit (Neglect lateral flow)</p>
    <p>Two replicate profiles (4 in total)</p>
    <p>Define (3) profiles on field
    </p>
    <p>Installation of AWS
    </p>
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/img/mapa.PNG" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>



      <br><br>
    </div>