<mat-toolbar class="plateado altura">
    <h1>NEXT ACTIVITIES</h1>
  </mat-toolbar>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <p>1. Final selection of pedons (3)
              <p>  2. Installation of equipment (4 pedons)</p>
              <p> • Soil samplers</p>
                  <p>• Soil moisture probes</p>
                      <p>• Rain gauges + temperature</p>
              <p> 3. Soil sampling and field test (4 pedons)</p>
                  <p> 4. Installation of AWS</p>
                      <p>5. Laboratory test (U Cuenca)</p>
                          <p> 6. Calibration soil moisture probes (EPN)
          </p>
          <h2>Anthropogenic impact
          </h2>
     
  
  
     
     