
<body class="color">

  <app-header></app-header>
  <mat-sidenav-container class="sidenav-container nube">
    
    <mat-sidenav-content>
      <mat-toolbar class="plateado mover elevar">
       
        <button mat-icon-button>
          <mat-icon href="#">terrain</mat-icon>
          <span mat-list-item href="#"> Linking global change with soil and water conservation in the
            High Andes</span>
        </button>

        <span class="example-spacer"></span>
        <button mat-button>Datos</button>
        <button mat-button>Contactos</button>
        <button mat-icon-button matTooltip="Ingresar">
          <mat-icon>move_to_inbox</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  

</body>
