<mat-toolbar class="plateado altura">
  <h1>MAIN OBJECTIVES</h1>
</mat-toolbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>
  <footer class="container-fluid text-center ">

    <p>To assess the impact of volcanic soil and vegetation on soil-water process interactions
      in a landscape context in the High Andes
      <br>
    </p>
    <h2>Methodological framework
    </h2>
<br>
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/img/metodological.png" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>
<br>
<br>
<br>
<br>
      <h3>Connecting the pedon to the landscape
          Taken from Lin, 2012
          </h3>
         
      <div class="col-sm-12">
        <img src="assets/img/b.png" class="img-responsive center-block" style="width:80%" alt="Image">
      </div>


      <br><br>
    </div>

